{:main          bug.core
 :output-dir    "target/js"
 :optimizations :none
 :modules       {:cljs-base {:output-to "target/js/bug.js"}
                 :lazy-loaded {:entries #{bug.wrapper}
                               :output-to "target/js/bug-wrapper.js"}}}
