{:deps {org.clojure/clojurescript {:git/url "https://github.com/clojure/clojurescript"
                                   :sha "6eedd0a08c49f7b0d4dcb30977b2fb38c90577bd"}}
 :aliases {:bug {:main-opts ["-m" "cljs.main" "-co" "bug.cljs.edn" "--repl"]}}}
